.container {
	padding:0;
	background-color:rgba(0, 0, 0, 0.7);;
}

body {
	color:white;
}

h3 {
	color:purple;
}

hr {
	width: 80%;
	margin-bottom: 2%;
	margin-top: 5%;
}

#sidebar {
	position: absolute;
	top:0;
	right:0;
}

#sidebar ul {
	list-style: none;
}

.likalink:hover {
	cursor: pointer;
}

.content {
	paddig-top: 5%;
}

.margin-below {
	margin-bottom: 5%;
}