:root {
	--games: #000;
	--music:  #000;
	--videos: #000;
}

.container {
	padding:0;
	background-color: black;
}

#sidebar {
	position: absolute;
	top:0;
	right:0;
}

#sidebar ul {
	list-style: none;
}